@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
}

/* Force dark mode class strategy */
@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-100;
  }
}